{% extends 'business/basic.html' %}
{% block title %}About Us{% endblock %}
<body>
{% block body %}
<div class="container py-4">
<h1>This Is  Our <span class="text-warning">About Page</span></h1>
    <div class="row">

        <div class="col-md-6">
       <h1>Our Main Aim</h1>
        <p>
            First, they use the registration form to create an account and later they use the sign up to quickly access their profile. This free Bootstrap registration form template is actually a two-in-one product. How cool does that sound? Light, simple and creative look with an image and all the required fields they need to fill out to enter your world of amazingness. You can also let them log in with their social media accounts to speed up the process even further. This free layout is very congruous and will be easy to adjust it according to your needs and wants. For some, you can simply use it out of the box and you are ready to rock.

        </p>




        </div>
        <div class="col-md-6">
            <h1>Our Policies</h1>

            <p>First, they use the registration form to create an account and later they use the sign up to quickly access their profile. This free Bootstrap registration form template is actually a two-in-one product. How cool does that sound? Light, simple and creative look with an image and all the required fields they need to fill out to enter your world of amazingness. You can also let them log in with their social media accounts to speed up the process even further. This free layout is very congruous and will be easy to adjust it according to your needs and wants. For some, you can simply use it out of the box and you are ready to rock.

</p>




        </div>




    </div>

</div>

{% endblock %}
</body>